<div id="footer_content" class="container">
    <div class="footer_block" id="wide">
        <h3 class="resource_header">D-Day Resources<span>+</span></h3>
        <ul>
            <li><a href="http://www.history.army.mil/html/reference/Normandy/normandy.html">CMH: The Normandy Invasion</a></li>
            <li><a href="http://www.dday.org/">The National D-Day Memorial</a></li>
            <li><a href="http://nationalww2museum.org/index.html ">The National WWII Museum</a></li>
            <li><a href="http://www.americaslibrary.gov/jb/wwii/jb_wwii_dday_1.html">Library of Congress D-Day</a></li>
            <li><a href="http://www.archives.gov/">The U.S. National Archives and Records Administration</a></li>
            <li><a href="http://www.loc.gov/vets/stories/onthebeach.html">Stories from the Veterans History Project: D-Day</a></li>
            <li><a href="http://www.pbs.org/wgbh/amex/dday/index.html">PBS: D-Day American Experience</a></li>
        </ul>
    </div>

    <div class="footer_block" id="wide">
        <h3 class="resource_header">Army Historical Sites<span>+</span></h3>
        <ul>
            <li><a href="https://www.army.mil/gettysburg/flash.html">The Battle of Gettysburg</a></li>
            <li><a href="https://www.army.mil/botb">Battle of the Bulge</a></li>
            <li><a href="https://www.army.mil/postwarjapan/">The U.S. Army in Post WWII Japan</a></li>
            <li><a href="https://www.army.mil/koreanwar/">Korean War</a></li>
            <li><a href="http://www.eucom.mil/key-activities/featured-events/d-day-june-6-1944">U.S. European Command D-Day</a></li>
        </ul>
    </div>
    <div class="footer_block" id="narrow">
        <h3 class="resource_header">Army.mil Resources<span>+</span></h3>
        <ul>
            <li><a href="https://www.army.mil/contact/">Contact Us</a></li>
            <li><a href="https://www.rmda.army.mil/foia/RMDA-FOIA-Division.html">FOIA</a></li>
            <li><a href="http://www.asamra.army.mil/nofear.cfm">No Fear Act</a></li>
            <li><a href="http://dodcio.defense.gov/DoDSection508/Std_Stmt.aspx">Accessibility/Section 508</a></li>
            <li><a href="https://www.inscom.army.mil/isalute/">iSALUTE</a></li>
        </ul>
    </div>
    <div class="footer_block span1" id="logo">
        <img src="/e2/rv5_images/features/army_star_neg.png" alt="US Army Logo" width="65" height="81" />
    </div>
</div>