<div id="header_content_outter" class="container">
    <div id="header_content_inner">
        <div id="header_logo">
            <h1>D-DAY JUNE 6, 1944</h1>
        </div>
        <div id="menu_content">
            <a href="#" id="menu_button"></a>
            <ul id="nav">
                <li>
                    <a href="index.html"><span>Home</span></a>
                </li>
                <li id="media_dropdown">
                    <a href="history.html">History ▼</a>
                    <ul>
                        <li>
                            <a href="history.html#"><span>Multimedia</span></a>
                        </li>
                        <li>
                            <a href="history.html#divisions"><span>Divisions</span></a>
                        </li>
                        <li>
                            <a href="history.html#beaches"><span>Beaches</span></a>
                        </li>
                        <li>
                            <a id="last" href="history.html#honor" name="last"><span>Medal of Honor</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="news.html"><span>News</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="drop_down_menu">
    <div class="container">
        <div class="row">
            <ul class="span12 nav_collapsible">
                <li>
                    <a href="index.html"><span>Home</span></a>
                </li>
                <li>
                    <a href="history.html">History</a>
                    <ul>
                        <li>
                            <a href="history.html"><span>Multimedia</span></a>
                        </li>
                        <li>
                            <a href="history.html#divisions"><span>Divisions</span></a>
                        </li>
                        <li>
                            <a href="history.html#beaches"><span>Beaches</span></a>
                        </li>
                        <li>
                            <a id="last" href="history.html#honor" name="last"><span>Medal of Honor</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="news.html"><span>News</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>