.container {
  //this max width is set for IE behavior with media queries
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include breakpoint(mobile) {
    padding-left: 10px;
    padding-right: 10px;
  }


  @include breakpoint(tablet) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

#page {
  padding-top: 250px;

  @include breakpoint(mobile) {
    padding-top: 92px;
  }


  @include breakpoint(tablet) {
    padding-top: 105px;
  }
}
