#featureBar {
  position: fixed;
  top: 0;
  z-index: 950;

  @mixin fb-collapsed {
    display: none;
  }

  &.fb_collapsed {
    @include fb-collapsed;
  }

  @include breakpoint(mobile) {
    @include fb-collapsed;
  }


  @include breakpoint(tablet) {
    @include fb-collapsed;
  }
}

#header {
  z-index: 900;
  position: fixed;
  top: 30px;
  width: 100%;
  color: $accent-color;
  background-color: $main-green;

  #header_content_outter {
    #header_content_inner {
      padding-top: 20px;
      padding-bottom: 20px;

      @include row;

      #header_logo {
        @include span(4);

        h1 {
          text-indent: -9999px;
        }

        h1 {
          background-image: url($logo-png-2x);
          background-repeat: no-repeat;
          height: 129px;
          background-size: contain;
        }
      }

      //Menu
      #menu_content {
        @include span(8);

        padding-top: 35px;

        ul#nav {
          display: block;

          @include breakpoint(tablet) {
            display: none;
          }


          @include breakpoint(mobile) {
            display: none;
          }


          float: right;

          li {
            float: left;
            color: $accent-color;

            &#media_dropdown {
              position: relative;

              &:hover {
                background-color: $light-green;

                ul {
                  position: fixed;
                  display: block;
                  background-color: $light-green;

                  li {
                    float: none;

                    a {
                      text-decoration: none;

                      span {
                        border-bottom: none;
                      }
                    }

                    &:hover {
                      a {
                        span {
                          border-bottom: 2px solid $accent-color;
                        }
                      }
                    }
                  }
                }
              }
            }

            &:hover {
              a {
                span {
                  border-bottom: 2px solid $accent-color;
                }
              }
            }

            a {
              font-size: 1.25em;

              @include accentFont;

              font-weight: bold;
              color: $accent-color;
              display: block;
              padding: 20px;

              span {
                padding-bottom: 10px;
              }
            }

            ul {
              display: none;
              text-decoration: none;
            }
          }
        }
      }

      //END #menu_content
   
    }
  }

  //When header has collapsed class
  @mixin collapsed {
    top: 0px;

    #header_content_outter {
      #header_content_inner {
        padding-top: 20px;
        padding-bottom: 12px;

        @include row;

        #header_logo {
          @include span(7);

          h1 {
            background-image: url($logo-horizontal-png-2x);
            background-repeat: no-repeat;
            height: 52px;
          }

          @include breakpoint(mobile) {
            @include span(10);
          }


          @include breakpoint(tablet) {
            @include span(10);
          }
        }

        #menu_content {
          @include span(5);

          @include breakpoint(mobile) {
            @include span(2);

            padding-top: 5px;
          }


          @include breakpoint(tablet) {
            @include span(2);

            padding-top: 5px;
          }


          padding-top: 0px;

          ul#nav {
            li {
              a {
                padding-top: 12px;
              }
            }
          }
        }
      }
    }
  }

  &.collapsed {
    @include collapsed;
  }

  @include breakpoint(mobile) {
    @include collapsed;
  }


  @include breakpoint(tablet) {
    @include collapsed;
  }


  #menu_button {
    display: none;
    background-image: url($sprite);
    background-position: -30px 0;
    height: 26px;
    width: 26px;
    float: right;

    @include breakpoint(tablet) {
      display: block;
      background-position: 0px 0;
      height: 30px;
      width: 30px;
    }


    @include breakpoint(mobile) {
      display: block;
    }
  }

  #drop_down_menu {
    display: none;
    width: 100%;
    background-color: $light-green;
  }

  .nav_collapsible {
    @include breakpoint(desktop) {
      display: none;
    }


    background-color: $light-green;
    text-align: left;
    padding-bottom: 20px;

    a {
      color: #fff;

      @include accentFont;

      font-weight: bold;
    }
  }

  .nav_collapsible li {
    margin-top: 20px;

    li {
      padding-left: 20px;
    }
  }
}
