#body_home {
  #content {
    margin-left: auto;
    margin-right: auto;

    #slideshow_wrapper {
      @include row;

      #slideshow {
        @include span(12);
      }
    }

    #history {
      margin-top: 80px;
      text-align: center;

      @include breakpoint(mobile) {
        margin-top: 30px;
      }


      h1, h2 {
        font-weight: bold;
      }

      #history_header {
        margin-bottom: 15px;
      }

      #history_header, #history_sub_header {
        @include span(12);
      }

      #history_text {
        text-align: left;
        margin-bottom: 80px;
      }
    }
  }

  .slidesjs-navigation {
    display: none !important;
  }

  .slidesjs-pagination {
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    margin-top: -25px;
    padding-bottom: 30px;
    position: relative;
    z-index: 15;

    p, ul, ol {
      color: #777777;
      font-weight: 400;
    }

    li {
      float: left;
      margin: 0 1px;
    }

    li a {
      background-image: url($pagination);
      background-position: 0 0;
      display: block;
      float: left;
      height: 0;
      overflow: hidden;
      padding-top: 13px;
      width: 13px;
    }

    #slides a:link, #slides a:visited {
      color: #333333;
    }

    li a.active, li a:hover.active {
      background-position: 0 -13px;
    }

    a:link, a:visited {
      color: #D22929;
      text-decoration: none;
    }
  }

  .slidesjs-container {
    @include breakpoint(mobile) {
      overflow: visible !important;
    }
  }

  .slidesjs-pagination {
    @include breakpoint(mobile) {
      position: absolute;
      left: 40.3%;
    }
  }

  .slidesjs-call-to-action {
    position: absolute;
    width: 50%;
    background: -moz-linear-gradient(top, rgba(84, 87, 71, 0.8) 0%, rgba(84, 87, 71, 0.8) 100%);

    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(84, 87, 71, 0.8)), color-stop(100%, rgba(84, 87, 71, 0.8)));

    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(84, 87, 71, 0.8) 0%, rgba(84, 87, 71, 0.8) 100%);

    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(84, 87, 71, 0.8) 0%, rgba(84, 87, 71, 0.8) 100%);

    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(84, 87, 71, 0.8) 0%, rgba(84, 87, 71, 0.8) 100%);

    /* IE10+ */
    background: linear-gradient(to bottom, rgba(84, 87, 71, 0.8) 0%, rgba(84, 87, 71, 0.8) 100%);

    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc545747', endColorstr='#cc545747',GradientType=0 );

    /* IE6-9 */
    z-index: 100;
    right: 0;
    bottom: 10%;
    padding: 10px;
    color: #fff;

    @include breakpoint(tablet) {
      width: 75%;
    }


    @include breakpoint(mobile) {
      @include span(12);

      //margin-top: 20px;
      bottom: 0px;
      position: relative;
      padding-bottom: 1.02041%;
    }


    span {
      font-weight: bold;
    }
  }

  .slidesjs-call-to-action-button {
    margin-top: 20px;
    color: #FFFFFF;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid white;
    float: left;

    &:hover {
      background-color: white;
      color: $main-green;

      //border: 2px solid $main_green;
   
    }
  }
}
