$image_path: "/e2/rv5_images/d-day/";

$sprite: $image_path + "sprites/sprite.png";
$pagination: $image_path + "sprites/pagination.png";

$logo_png: $image_path + "logo/logo.png";
$logo_png_2x: $image_path + "logo/logo_2x.png";
$logo_svg: $image_path + "logo/logo.svg";

$logo_horizontal_png: $image_path + "logo/logo_horizontal.png";
$logo_horizontal_png_2x: $image_path + "logo/logo_horizontal_2x.png";
$logo_horizontal_svg: $image_path + "logo/logo_horizontal.svg";