$screen-mobile-max: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

@mixin breakpoint($point) {
  //Small devices (phones, less than 768px)	
  @if $point == mobile {
    @media (max-width: $screen-mobile-max - 1) {
      @content;
    }
  }
  @else if $point == tablet {
    @media (min-width: $screen-mobile-max) and (max-width: $screen-sm-min) {
      @content;
    }
  }
  @else if $point == desktop {
    @media (min-width: $screen-sm-min + 1) {
      @content;
    }
  }
  @else if $point == large {
    @media (min-width: $screen-lg-min) {
      @content;
    }
  }
}
