#body_media {
  #content {
    #divisions {
      padding-top: 85px;
    }

    .allied_divisions_grid_row, .divisions_grid_row {
      @include row;

      margin-bottom: 20px;

      .divisions_grid_cell {
        a {
          &:hover, &:focus, &:active {
            text-decoration: underline;
          }

          &.division_url {
            font-weight: bold;
          }
        }

        @include breakpoint(mobile) {
          @include row;

          margin-bottom: 20px;
        }


        img {
          @include span(2);

          @include breakpoint(desktop) {
            @include span(2);
          }


          @include breakpoint(tablet) {
            @include span(2);
          }


          @include breakpoint(mobile) {
            @include span(4);
          }
        }

        div {
          @include span(4);

          @include breakpoint(desktop) {
            @include span(4);
          }


          @include breakpoint(tablet) {
            @include span(4);
          }


          @include breakpoint(mobile) {
            @include span(8);
          }


          ul {
            display: none;
            margin-top: 7px;

            li {
              margin-bottom: 3px;
            }
          }
        }
      }
    }

    blockquote {
      margin-bottom: 20px;
    }

    #left_media_nav {
      @include span(4);

      @include breakpoint(mobile) {
        display: none;
      }


      @include breakpoint(tablet) {
        display: none;
      }


      @include breakpoint(desktop) {
        @include span(4);
      }


      h3 {
        margin-bottom: 25px;
        padding-bottom: 2px;

        a.active {
          border-bottom: 2px solid $text-base-color;
        }
      }
    }

    .section_title {
      display: none;

      @include breakpoint(mobile) {
        @include span(12);

        display: block;
        margin: 15px 0;
      }


      @include breakpoint(tablet) {
        @include span(12);

        display: block;
        margin: 15px 0;
      }


      @include breakpoint(desktop) {
        display: none;
      }
    }

    #right_media {
      .section_container {
        @include span(8);

        display: none;

        @include breakpoint(mobile) {
          @include span(12);

          display: block;
          margin-bottom: 15px;
        }


        @include breakpoint(tablet) {
          @include span(12);

          display: block;
          margin-bottom: 15px;
        }


        @include breakpoint(desktop) {
          @include span(8);

          display: none;
        }


        #slides, #wwii_slides {
          height: 100%;
          width: 100%;
        }

        .player_outer_container {
          width: 100%;
        }
      }

      .section_container.active, .sm_section_container.active {
        display: block;
      }
    }
  }

  .slidesjs-navigation {
    background-color: lighten($text-base-color, 10);
    bottom: 45%;
    font-size: 0;
    padding: 20px 10px;
    position: absolute;
    z-index: 12;

    &:hover, &:focus {
      background-color: $text-base-color;
    }

    span {
      cursor: pointer;
      display: block;
      height: 21px;
      width: 14px;
    }
  }

  .slidesjs-next {
    float: right;
    right: 0;

    span {
      background-image: url($sprite);
      background-position: -76px 0px;
    }
  }

  .slidesjs-previous {
    float: left;

    span {
      background-image: url($sprite);
      background-position: -62px 0px;
    }
  }

  .slidesjs-caption-button {
    background-color: lighten($text-base-color, 10);
    bottom: 0;
    color: $accent-color;
    left: auto;
    padding: 3px;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 14;

    &:hover {
      background-color: $text-base-color;
    }
  }

  .slidesjs-caption {
    background-color: lighten($text-base-color, 10);
    bottom: 0;
    color: $accent-color;
    display: none;
    height: auto;
    left: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    z-index: 13;

    a {
      color: $accent-color;
      display: block;
      margin-top: 5px;
      text-decoration: underline;
      text-transform: uppercase;

      @include breakpoint(mobile) {
        display: none;
      }


      @include breakpoint(tablet) {
        display: none;
        margin-bottom: 15px;
      }


      @include breakpoint(desktop) {
        display: block;
      }
    }
  }

  #beaches {
    .beach_blocks {
      @include row;

      p {
        @include block-quote;

        @include span(12);

        margin-bottom: 40px;
      }
    }
  }

  #beach_list {
    li {
      display: inline-block;
      margin-bottom: 25px;
      padding-bottom: 10px;

      &:hover {
        border-bottom: 2px solid black;
        padding-bottom: 8px;
      }

      a {
        font-weight: bold;
      }
    }

    li.active {
      border-bottom: 2px solid black;
      padding-bottom: 8px;
    }

    @include span(4);

    @include breakpoint(desktop) {
      @include span(4);
    }


    @include breakpoint(tablet) {
      @include span(4);
    }


    @include breakpoint(mobile) {
      display: none;
    }
  }

  #beach_descriptions {
    @include span(8);

    @include breakpoint(desktop) {
      @include span(8);
    }


    @include breakpoint(tablet) {
      @include span(8);
    }


    @include breakpoint(mobile) {
      @include span(12);
    }


    .description {
      display: none;

      @include breakpoint(desktop) {
        display: none;
      }


      @include breakpoint(tablet) {
        display: none;
      }


      @include breakpoint(mobile) {
        display: block;
        margin-bottom: 80px;
      }


      h3 {
        display: none;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;

        @include breakpoint(desktop) {
          display: none;
        }


        @include breakpoint(tablet) {
          display: none;
        }


        @include breakpoint(mobile) {
          display: block;
        }
      }

      img {
        display: block;
        margin-top: 40px;
        width: 100%;
      }
    }

    .description.active {
      display: block;
    }

    .description.last {
      margin-bottom: 0;
    }
  }

  .moh_images {
    margin-bottom: 20px;

    @include span(4);

    @include breakpoint(desktop) {
      @include span(4);
    }


    @include breakpoint(tablet) {
      @include span(4);
    }


    @include breakpoint(mobile) {
      @include span(12);
    }
  }

  .moh_items {
    @include span(8);

    @include breakpoint(desktop) {
      @include span(8);
    }


    @include breakpoint(tablet) {
      @include span(8);
    }


    @include breakpoint(mobile) {
      @include span(12);
    }


    h3 {
      @include header-4;

      margin-bottom: 20px;
      font-weight: bold;
    }

    p {
      margin-bottom: 5px;

      span {
        font-weight: bold;
      }
    }
  }

  .moh_row {
    margin-bottom: 20px;

    @include breakpoint(mobile) {
      margin-bottom: 30px;
    }
  }

  .player_inner_container {
    position: relative;
    padding-bottom: 56.25%;

    /* 16:9 */
    padding-top: 25px;
    height: 0;

    #dday_player {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  #dday_player {
    z-index: 5;
  }
}
