#body_news {
  #content {
    margin-left: auto;
    margin-right: auto;

    #image_gallery {
      text-align: left;

      .image_gallery_image {
        @include span(3);

        @include breakpoint(desktop) {
          @include span(3);
        }


        @include breakpoint(tablet) {
          @include span(6);
        }


        @include breakpoint(mobile) {
          @include span(12);
        }


        img {
          height: auto;
          width: 100%;
        }

        a {
          &:hover, &:focus, &:active {
            text-decoration: underline;
          }
        }
      }

      h3 {
        @include header-4;

        font-weight: bold;
      }

      h3, img {
        margin-bottom: 10px;
      }

      .image_gallery_image {
        padding-bottom: 20px;
      }

      .image_gallery_image_link {
        font-weight: bold;
        display: block;

        @include breakpoint(desktop) {
          display: block;
        }


        @include breakpoint(tablet) {
          display: none;
        }


        @include breakpoint(mobile) {
          display: none;
        }
      }

      .button {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
      }
    }
  }
}
