body#redirect {
  #page {
    #content {
      p {
        margin-bottom: 500px;

        a {
          font-weight: bold;

          &:hover, &:focus, &:active {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
