//Spans

@mixin row {
  display: block;
  width: 100%;
  overflow: hidden;
}

$num-cols: 12;
$base-container: 980;
$base-span-padding: 10;

$lb-base-container: 620;
$lb-base-span-padding: 10;

@mixin span($columns) {
  $start-width: $columns / $num-cols;
  $padding-width: $base-span-padding / $base-container * 2;

  width: percentage($start-width - $padding-width);
  float: left;
  padding-left: percentage($base-span-padding / $base-container);
  padding-right: percentage($base-span-padding / $base-container);
}

@mixin offset($columns) {
  $start-width: $columns / $num-cols;
  $padding-width: $base-span-padding / $base-container * 2;
  $width: percentage($start-width - $padding-width);
  $padding: percentage($base-span-padding / $base-container * 2);

  margin-left: $width + $padding;
}

@mixin lightbox-span($columns) {
  $start-width: $columns / $num-cols;
  $padding-width: $lb-base-span-padding / $lb-base-container * 2;

  width: percentage($start-width - $padding-width);
  float: left;
  padding-left: percentage($lb-base-span-padding / $lb-base-container);
  padding-right: percentage($lb-base-span-padding / $lb-base-container);
}

.span12 {
  @include span(12);
}

.span11 {
  @include span(11);
}

.span10 {
  @include span(10);
}

.span9 {
  @include span(9);
}

.span8 {
  @include span(8);
}

.span7 {
  @include span(7);
}

.span6 {
  @include span(6);
}

.span5 {
  @include span(5);
}

.span4 {
  @include span(4);
}

.span3 {
  @include span(3);
}

.span2 {
  @include span(2);
}

.span1 {
  @include span(1);
}

.row {
  @include row;
}
