@import "reset";
@import "media_queries";
@import "defaults";
@import "images";
@import "spans";
@import "fonts";
@import "colors";
@import "home";
@import "news";
@import "media";
@import "redirect";
@import "header";

body {
  color: $text-base-color;

  a {
    color: $text-base-color;
    text-decoration: none;
  }
}

div.button_wrap_outter {
  @include row;

  div.button_wrap_inner {
    @include span(12);

    div.button {
      text-align: center;

      a {
        padding: 5px 10px;
        border: 2px solid $main-green;
        font-weight: bold;

        &:hover, &:focus, &:active {
          color: white;
          background-color: $main-green;
        }
      }
    }
  }
}

.clear {
  clear: both;
}

#news {
  text-align: center;

  .news_stories {
    margin-bottom: 10px;
  }

  h2 {
    @include header-1;
  }

  .news_story {
    @include span(4);

    @include breakpoint(desktop) {
      @include span(4);
    }


    @include breakpoint(tablet) {
      @include span(6);
    }


    @include breakpoint(mobile) {
      @include span(12);
    }


    text-align: left;
    padding-bottom: 20px;

    h3 {
      @include header-4;

      a {
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    h3, img, p {
      margin-bottom: 10px;
    }

    .news_story_link {
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }

    a {
      img {
        width: 100%;
        height: auto;
      }
    }

    &.last_news_story {
      display: block;

      @include breakpoint(desktop) {
        display: block;
      }


      @include breakpoint(tablet) {
        display: none;
      }


      @include breakpoint(mobile) {
        display: none;
      }
    }
  }

  .button {
    margin-top: 20px;

    //width: 109px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
  }
}

div.line_wrap {
  @include span(4);

  @include offset(4);

  hr {
    width: 100%;
    margin-bottom: 40px;
    margin-top: 20px;
    border: 1px solid $text-base-color;
  }
}

.section {
  padding-top: 90px;
}

.section_header {
  text-align: center;

  @include span(12);

  font-weight: bold;
}

h2.section_header {
  @include header-1;
}

#slides, #wwii_slides {
  display: none;
  position: relative;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

a.division_header_link {
  span.expand {
    font-weight: bold;
  }
}

#footer {
  padding-top: 20px;
  background-color: $text-base-color;
  color: #ffffff;
  overflow: hidden;

  @include breakpoint(mobile) {
    padding-bottom: 40px;
  }


  @include breakpoint(tablet) {
    padding-bottom: 40px;
  }


  .footer_block {
    @include breakpoint(desktop) {
      &#wide {
        @include span(4);
      }

      &#narrow {
        @include span(3);
      }

      &#logo {
        @include span(1);

        a {
          display: block;
          float: right;
          overflow: hidden;
        }
      }
    }


    //@include span(3);
    margin-bottom: 20px;

    @include breakpoint(mobile) {
      @include span(12);
    }


    @include breakpoint(tablet) {
      @include span(12);
    }


    /*
    @include breakpoint(desktop) {@include span(3);
    }
    @include breakpoint(large) {@include span(3);
    }
    */
  }

  a {
    color: #ffffff;
  }

  .resource_header {
    border-bottom: none;

    @include bodyFont;

    font-size: 1em;
    font-weight: bold;
    padding-bottom: 20px;

    @include breakpoint(mobile) {
      border-bottom: 1px solid #fff;
      cursor: pointer;
      padding-bottom: 10px;
    }


    @include breakpoint(tablet) {
      border-bottom: 1px solid #fff;
      cursor: pointer;
      padding-bottom: 10px;
    }


    span {
      display: none;
      float: right;
      padding-right: 5px;

      @include breakpoint(mobile) {
        display: block;
      }


      @include breakpoint(tablet) {
        display: block;
      }
    }
  }

  ul {
    display: block;

    @include breakpoint(mobile) {
      display: none;
      margin-top: 10px;
    }


    @include breakpoint(tablet) {
      display: none;
      margin-top: 10px;
    }


    li {
      margin-bottom: 5px;

      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  ul.active {
    display: block;
  }
}
